.ms-ComboBox-container {
  width: 100% !important;
};

 .ms-Button{
}

.ms-ComboBox-CaretDown-button[disabled]{
  display: none !important;
}

.ms-ComboBox-CaretDown-button[disabled]:hover {
  background-color:transparent !important;
} 
